Source: zig
Section: devel
Priority: extra
Maintainer: Jason Ernst <ernstjason1@gmail.com>
Rules-Requires-Root: no
Build-Depends: 
 debhelper-compat (= 12),
 cmake (>= 2.8.12),
 gcc (>= 7.0.0),
 clang (>= 6.0.0),
 llvm-12-dev,
 libclang-12-dev,
 liblld-12-dev,
Standards-Version: 4.4.1
Homepage: https://github.com/ziglang/zig
#Vcs-Browser: https://salsa.debian.org/debian/zig
#Vcs-Git: https://salsa.debian.org/debian/zig.git

Package: zig
Architecture: arm64 armhf i386 amd64
Section: devel
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zig programming language
 A general-purpose programming language and toolchain for
 maintaining robust, optimal, and reusable software. The ultimate goal of the 
 Zig project is to serve users. As a first-order effect, this means users of 
 the compiler, helping programmers to write better software. Even more 
 important, however, are the end-users. Zig is intended to be used to help 
 end-users accomplish their goals. Zig should be used to empower end-users, 
 never to exploit them financially, or to limit their freedom to interact with 
 hardware or software in any way.
 .
 This package provides the zig compiler.
